@page "/weather"
@using System.Globalization
@using WeatherApp.Models
@using WeatherApp.Utilities
@inject HttpClient Client

<h3>Weather</h3>

<div class="input-group mb-3 mt-3">
    <input type="text" class="form-control" placeholder="Hiriaren izena" @bind=city/>
    <div class="input-group-append">
        <button @onclick=GetWeather class="btn btn-outline-secondary" type="button">bilatu</button>
    </div>
</div>

@if (@weatherData != null)
{
    <div class="text-center">
        <p class="display-5">@city</p>
        <p class="display-1">@weatherData.current.temperature_2m ºC</p>
        <p class="display-6">@WeatherCode.Convert(weatherData.current.weathercode)</p>
    </div>
}

@if (@weatherData != null)
{
    <div class="card-group">
        @for (int i=0; i < @weatherData.daily.time.Length; i++)
        {
            <WeatherApp.Components.WeatherCard
                Day=@weatherData.daily.time[i]
                MinWeatherData="@weatherData.daily.apparent_temperature_min[i]"
                MaxWeatherData="@weatherData.daily.apparent_temperature_max[i]"
            />
        }
    </div>
}

@code {
    string city = "";
    string aaa = "";
    string bbb = "";
    WeatherModel weatherData;

    async Task GetWeather()
    {
        var cityData = await GetCityData();
        aaa = (cityData.results[0].lat).ToString();
        bbb = (cityData.results[0].lon).ToString();
        CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("en-US");
        weatherData = await Client.GetFromJsonAsync<WeatherModel>(Endpoints.GetWeatherEndpoint(cityData.results[0].lat, cityData.results[0].lon));
        CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("es-es");
    }
    async Task<CityData> GetCityData()
    {
        var cityData = await Client
        .GetFromJsonAsync<CityData>(Endpoints.GetGeoApifyEndpoint(city));
        return cityData;
    }
}
